.details {
	height: 90vh;
	width: 98vw;
	font-family: "Montserrat", sans-serif;
	background-color: #e6e6e6;
	margin: 0;
}

.details label {
	color: #4d4d4d;
	font-weight: 500;
}

.buttons {
	width: 90%;
	font-weight: 500;
}

.cards {
	background-color: #f2f2f2;
}
